@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";





body {
 
  font-family: "Onest", sans-serif;
}

.swiper-button-prev, .swiper-button-next {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}


.swiper-pagination-bullet {
  background: wheat !important;
}